/* sfc-style:E:\best\obsidian-audio-player-plus\src\components\AudioComment.vue?type=style&index=0 */
.comment[data-v-3818d76b] {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
  display: flex !important;
}
.comment[data-v-3818d76b]:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.timestamp[data-v-3818d76b] {
  font-weight: bold;
  margin-right: 18px;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.content[data-v-3818d76b] {
  overflow: hidden;
  text-overflow: ellipsis;
}
