/* sfc-style:E:\best\obsidian-audio-player-plus\src\components\AudioComment.vue?type=style&index=0 */
.comment[data-v-3818d76b] {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
}
.comment[data-v-3818d76b]:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.timestamp[data-v-3818d76b] {
  font-weight: bold;
  margin-right: 8px;
  font-family: monospace;
}
.end-time[data-v-3818d76b] {
  font-family: monospace;
  color: #666;
  margin-left: 4px;
  margin-right: 8px;
}
.content[data-v-3818d76b] {
  flex: 1;
}
